{% extends 'base.html' %}

{% block title %} 정보삭제  {% endblock %}

{% block content %}

    <div class="container">
      <br>
      <h1>정보삭제</h1>
      <br>  
        <form method="GET", action="{% url 'delete_result' %}">
          <div class="form-group row">
            <label for="pname" class="col-sm-2 col-form-label">제품선택</label>
            <div class="col-sm-10">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="BCG" name="pname" value="BCG" class="custom-control-input">
                <label class="custom-control-label" for="BCG">BCG</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="CCTV" name="pname" value="CCTV" class="custom-control-input">
                <label class="custom-control-label" for="CCTV">CCTV</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="device_id" class="col-sm-2 col-form-label">기기ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="device_id" placeholder="기기ID">
              <p style="color:red;">해당 기기에 관련된 모든 정보가 삭제됩니다.</p>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">삭제</button>
        </form>
{% endblock %}