{% extends 'base.html' %}

{% block title %} 재고조회 {% endblock %}

{% block content %}

  <div class="container">
    <br>
    <h1 class="col-3">재고조회</h1>
    <br>
    <br>
    <br>
    <form action="{% url 'psearch_result' %}" method="GET">
      <fieldset class="form-group" style="font-size: 15pt">
        <div class="container row">
          <legend class="col-form-label col-sm-2 pt-0">조회내용 선택</legend>
          <br>
          <div class="col-sm-2">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="ALL" name="con" value="ALL" class="custom-control-input">
                <label class="custom-control-label" for="ALL">ALL</label>
              </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="BCG" name="con" value="BCG" class="custom-control-input" >
              <label class="custom-control-label" for="BCG">BCG</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="CCTV" name="con" value="CCTV" class="custom-control-input">
              <label class="custom-control-label" for="CCTV">CCTV</label>
            </div>
          </div>
          <button type="submit" class="container col-sm-2 btn btn-primary">조회</button>
        </div>
      </fieldset>    
    </form>
  </div>
<br>
<br>
<br>
<br>
  <div class="container">
    <h3>※ {{con}} 내역</h3>
    <br>
    <div class=row>
      <div class=col>
        <center>
          <h3>입고</h3>
          <br>
          <table class="table col-sm-10">
          <thead>
            <tr>
              <th scope="col">제품명</th>
              <th scope="col">입고일자</th>
              <th scope="col">입고수량</th>
            </tr>
          </thead>
          <tbody>
            {% for data in icontents%}
            <tr>
              <th scope="row">{{data.p_name}}</th>
              <td>{{data.input_date|date:'Y-m-d'}}</td>
              <td>{{data.count}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </center>
      </div>

      <div class=col>
        <center>
          <h3>출고</h3>
          <br>
          <table class="table col-sm-10">
            <thead>
              <tr>
                <th scope="col">제품명</th>
                <th scope="col">출고일자</th>
                <th scope="col">출고수량</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for data in ocontents%}
                <tr>
                  <th scope="row">{{data.p_name}}</th>
                  <td>{{data.output_date|date:'Y-m-d'}}</td>
                  <td>{{data.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </center>
      </div>
      
      <br>
      <br>
      <div class=col>
        <center>
        <h3>현재재고현황</h3>
        <br>
        <table class="table col-sm-10">
          <thead>
            <tr>
              <th scope="col">제품명</th>
              <th scope="col">재고량</th>
            </tr>
          </thead>
          <tbody>
            {%if ccounts != None and bcounts != None %}
            <tr>
              <th scope="row">BCG</th>
              <td>{{bcounts}}</td>
            </tr>
            <tr>
              <th scope="row">CCTV</th>
              <td>{{ccounts}}</td>
            </tr>
            {%else%}
              {% if bcounts == None %}
              <tr>
                <th scope="row"></th>
                <td>{{ccounts}}</td>
              </tr>
              {%else%}
              <tr>
                <th scope="row"></th>
                <td>{{bcounts}}</td>
              </tr
              {%endif%}
            {%endif%}
          </tbody>
        </center>
        </div>
      </table>
      </div>
    </div>
{% endblock %}